.card_panel{
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(gray, .5);

    &--w_wrap{
        width: fit-content;
    }

    &--w_full{
        width: 100%;
    }

    &--w_half{
        width: 50%;
    }


}